<div class="mp-tabs" data="object_taxons">
    <ul>
        <li><a></a><span class="ui-icon ui-icon-close">Remove</span></li>
    </ul>
    <div id="object_taxons">
        <table class="wp-list-table widefat fixed options" cellspacing="0">
            <tbody>
                <tr>
                    <th><label id="l_object_taxons_title"></label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][title]" /></td>
                    <td><span id="t_object_taxons_title" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_hierarchical"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][hierarchical]" value="1" /></td>
                    <td><span id="t_object_taxons_hierarchical" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_rewrite"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][rewrite]" value="1" /></td>
                    <td><span id="t_object_taxons_rewrite" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_query_var"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][query_var]" value="1" /></td>
                    <td><span id="t_object_taxons_query_var" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_show_ui"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][show_ui]" value="1" /></td>
                    <td><span id="t_object_taxons_show_ui" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_show_in_nav_menus"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][show_in_nav_menus]" value="1" /></td>
                    <td><span id="t_object_taxons_show_in_nav_menus" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_show_tagcloud"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_taxons][#n][show_tagcloud]" value="1" /></td>
                    <td><span id="t_object_taxons_show_tagcloud" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_singular_name">Singular Name</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][singular_name]" /></td>
                    <td><span id="t_object_taxons_labels_singular_name" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_search_items">Search Items</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][search_items]" /></td>
                    <td><span id="t_object_taxons_labels_search_items" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_all_items">All Items</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][all_items]" /></td>
                    <td><span id="t_object_taxons_labels_all_items" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_popular_items">Popular Items</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][popular_items]" /></td>
                    <td><span id="t_object_taxons_labels_popular_items" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_parent_item">Parent Item</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][parent_item]" /></td>
                    <td><span id="t_object_taxons_labels_parent_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_edit_item">Edit Item</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][edit_item]" /></td>
                    <td><span id="t_object_taxons_labels_edit_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_update_item">Update Item</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][update_item]" /></td>
                    <td><span id="t_object_taxons_labels_update_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_add_new_item">Add New Item</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][add_new_item]" /></td>
                    <td><span id="t_object_taxons_labels_add_new_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_labels_new_item_name">New Item Name</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][new_item_name]" /></td>
                    <td><span id="t_object_taxons_labels_new_item_name" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_separate_items_with_commas">Separate Items with Commas</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][separate_items_with_commas]" /></td>
                    <td><span id="t_object_taxons_labels_separate_items_with_commas" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_add_or_remove_items">Add or Remove Items</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][add_or_remove_items]" /></td>
                    <td><span id="t_object_taxons_labels_add_or_remove_items" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_taxons_choose_from_most_used">Choose From Most Used</label></th>
                    <td><input type="text" name="mp_[object][object_taxons][#n][labels][choose_from_most_used]" /></td>
                    <td><span id="t_object_taxons_labels_choose_from_most_used" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mp_button">
    <a href="#">Add</a>
</div>
<br class="clear" />