<div class="mp-tabs">
    <ul>
        <li><a href="#object_args-1">General</a></li>
        <li><a href="#object_args-2">Labels</a></li>
        <li><a href="#object_args-3">Advanced</a></li>
        <li><a href="#object_args-4">Show on Screen</a></li>
    </ul>
    <div id="object_args-1">
        <table class="wp-list-table widefat fixed options" cellspacing="0">
            <tbody>
                 <tr>
                    <th><label id="l_object_args_publicly_queryable"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][publicly_queryable]" value="1" /></td>
                    <td><span id="t_object_args_publicly_queryable" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_show_ui"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][show_ui]" value="1" /></td>
                    <td><span id="t_object_args_show_ui" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_show_in_menu"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][show_in_menu]" value="1" /></td>
                    <td><span id="t_object_args_show_in_menu" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_supports"></label></th>
                    <td>
                        <table class="option_list">
                            <tbody>
                                <tr>
                                    <td><label>Title</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="title" /></td>
                                </tr>
                                <tr>
                                    <td><label>Editor (content)</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="editor" /></td>
                                </tr>
                                <tr>
                                    <td><label>Author</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="author" /></td>
                                </tr>
                                <tr>
                                    <td><label>Thumbnail</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="thumbnail" /></td>
                                </tr>
                                <tr>
                                    <td><label>Excerpt</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="excerpt" /></td>
                                </tr>
                                <tr>
                                    <td><label>Trackbacks</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="trackbacks" /></td>
                                </tr>
                                <tr>
                                    <td><label>Custom Fields</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="custom-fields" /></td>
                                </tr>
                                <tr>
                                    <td><label>Revisions</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="revisions" /></td>
                                </tr>
                                <tr>
                                    <td><label>Page Attributes</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="page-attributes" /></td>
                                </tr>
                                <tr>
                                    <td><label>Comments</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="comments" /></td>
                                </tr>
                                <tr>
                                    <td><label>Post Formats</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][supports][]" value="post-formats" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><span id="t_object_args_supports" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>

                <tr>
                    <th><label id="l_object_args_description"></label></th>
                    <td><textarea name="mp_[object][object_args][description]" style="width:100%; height: 50px;"></textarea></td>
                    <td><span id="t_object_args_description" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="object_args-2">
        <table class="wp-list-table widefat fixed options" cellspacing="0" >
            <tbody>
                <tr>
                    <th><label id="l_object_args_labels_menu_name"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][menu_name]" /></td>
                    <td><span id="t_object_args_labels_menu_name" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_add_new"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][add_new]" /></td>
                    <td><span id="t_object_args_labels_add_new" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_add_new_item"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][add_new_item]" /></td>
                    <td><span id="t_object_args_labels_add_new_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_edit_item"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][edit_item]" /></td>
                    <td><span id="t_object_args_labels_edit_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_new_item"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][new_item]" /></td>
                    <td><span id="t_object_args_labels_new_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_view_item"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][view_item]" /></td>
                    <td><span id="t_object_args_labels_view_item" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_search_items"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][search_items]" /></td>
                    <td><span id="t_object_args_labels_search_items" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_not_found"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][not_found]" /></td>
                    <td><span id="t_object_args_labels_not_found" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_not_found_in_trash"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][not_found_in_trash]" /></td>
                    <td><span id="t_object_args_labels_not_found_in_trash" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_labels_parent_item_colon"></label></th>
                    <td><input type="text" name="mp_[object][object_args][labels][parent_item_colon]" /></td>
                    <td><span id="t_object_args_labels_parent_item_colon" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
            </tbody>
        </table>
        <!--
            TODO : FUTURE - Add additional labels like - Enter title here
        -->
    </div>
    <div id="object_args-3">
        <table class="wp-list-table widefat fixed options" cellspacing="0">
            <tbody>
                <tr>
                    <th><label id="l_object_args_public"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][public]" value="1" /></td>
                    <td><span id="t_object_args_public" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_exclude_from_search"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][exclude_from_search]" value="1" /></td>
                    <td><span id="t_object_args_exclude_from_search" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_map_meta_cap"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][map_meta_cap]" value="1" /></td>
                    <td><span id="t_object_args_map_meta_cap" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_hierarchical"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][hierarchical]" value="1" /></td>
                    <td><span id="t_object_args_hierarchical" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_permalink_epmask"></label></th>
                    <td>
                        <select type="checkbox" name="mp_[object][object_args][permalink_epmask]">
                            <option value="EP_PERMALINK">EP_PERMALINK</option>
                            <option value="EP_NONE">EP_NONE</option>
                            <option value="EP_ATTACHMENT">EP_ATTACHMENT</option>
                            <option value="EP_DATE">EP_DATE</option>
                            <option value="EP_YEAR">EP_YEAR</option>
                            <option value="EP_MONTH">EP_MONTH</option>
                            <option value="EP_DAY">EP_DAY</option>
                            <option value="EP_ROOT">EP_ROOT</option>
                            <option value="EP_COMMENTS">EP_COMMENTS</option>
                            <option value="EP_SEARCH">EP_SEARCH</option>
                            <option value="EP_CATEGORIES">EP_CATEGORIES</option>
                            <option value="EP_TAGS">EP_TAGS</option>
                            <option value="EP_AUTHORS">EP_AUTHORS</option>
                            <option value="EP_PAGES">EP_PAGES</option>
                            <option value="EP_ALL">EP_ALL</option>
                    </td>
                    <td><span id="t_object_args_permalink_epmask" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_has_archive"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][has_archive]" value="1" /></td>
                    <td><span id="t_object_args_has_archive" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_rewrite"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][rewrite]" value="1" /></td>
                    <td><span id="t_object_args_rewrite" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_query_var"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][query_var]" value="1" /></td>
                    <td><span id="t_object_args_query_var" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_can_export"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_args][can_export]" value="1" /></td>
                    <td><span id="t_object_args_can_export" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_menu_position"></label></th>
                    <td><input type="text" name="mp_[object][object_args][menu_position]" /></td>
                    <td><span id="t_object_args_menu_position" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_args_capability_type"></label></th>
                    <td>
                        <select type="text" name="mp_[object][object_args][capability_type]">
                            <option value="post">Post</option>
                            <option value="page">Page</option>
                        </select>
                    </td>
                    <td><span id="t_object_args_capability_type" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <!-- 
                    TODO : MAJOR - Include in next version of plugin
                <tr>
                    <th><label id="l_object_args_capabilities"></label></th>
                    <td>
                        <table class="option_list">
                            <tbody>
                                <tr>
                                    <td><label>Edit Post</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="edit_post" /></td>
                                </tr>
                                <tr>
                                    <td><label>Read Post</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="read_post" /></td>
                                </tr>
                                <tr>
                                    <td><label>Delete Post</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="delete_post" /></td>
                                </tr>
                                <tr>
                                    <td><label>Edit Posts</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="edit_posts" /></td>
                                </tr>
                                <tr>
                                    <td><label>Edit Others Posts</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="edit_others_posts" /></td>
                                </tr>
                                <tr>
                                    <td><label>Publish Posts</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="publish_posts" /></td>
                                </tr>
                                <tr>
                                    <td><label>Read Private Posts</label></td>
                                    <td><input type="checkbox" name="mp_[object][object_args][capabilities][]" value="read_private_posts" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><div class="info" id="t_object_args_capabilities"></div></td>
                </tr>
                -->
            </tbody>
        </table>
    </div>
    <div id="object_args-4">
        <table class="wp-list-table widefat fixed options" cellspacing="0">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Title</th>
                    <th>Sortable</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select name="mp_[object][object_args][show_on_screen][#n][field]"></select>
                    </td>
                    <td>
                        <input type="text" name="mp_[object][object_args][show_on_screen][#n][title]" />
                    </td>
                    <td>
                        <input type="checkbox" name="mp_[object][object_args][show_on_screen][#n][sortable]" value="1" />
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="delete-sos" title="Delete"><span class="ui-icon ui-icon-minusthick"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mp_button">
            <a href="#">Add New Column</a>
        </div>
        <br class="clear" />
    </div>
</div>