<div class="mp-tabs" data="object_stats">
    <ul>
        <li><a></a><span class="ui-icon ui-icon-close">Remove</span></li>
    </ul>
    <div id="object_stats">
        <table class="wp-list-table widefat fixed options" cellspacing="0">
            <tbody>
                <tr>
                    <th><label id="l_object_stats_title"></label></th>
                    <td><input type="text" name="mp_[object][object_stats][#n][title]" /></td>
                    <td><span id="t_object_stats_title" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_stats_label_count_singular">Singular</label></th>
                    <td><input type="text" name="mp_[object][object_stats][#n][label_count][singular]" /></td>
                    <td><span id="t_object_stats_label_count_singular" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_stats_label_count_plural">Plural</label></th>
                    <td><input type="text" name="mp_[object][object_stats][#n][label_count][plural]" /></td>
                    <td><span id="t_object_stats_label_count_plural" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <!--
                <tr>
                    <th><label id="l_object_stats_show_in_admin_all"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_stats][#n][show_in_admin_all]" value="1" /></td>
                    <td><span id="t_object_stats_show_in_admin_all" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                -->
                <tr>
                    <th><label id="l_object_stats_show_in_admin_all_list"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_stats][#n][show_in_admin_all_list]" value="1" /></td>
                    <td><span id="t_object_stats_show_in_admin_all_list" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_stats_show_in_admin_status_list"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_stats][#n][show_in_admin_status_list]" value="1" /></td>
                    <td><span id="t_object_stats_show_in_admin_status_list" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_stats_exclude_from_search"></label></th>
                    <td><input type="checkbox" name="mp_[object][object_stats][#n][exclude_from_search]" value="1" /></td>
                    <td><span id="t_object_stats_exclude_from_search" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
                <tr>
                    <th><label id="l_object_stats_visibility"></label></th>
                    <td><select name="mp_[object][object_stats][#n][visibility]" value="1">
                            <option value="public">Public</option>
                            <option value="protected">Protected</option>
                            <option value="private">Private</option>
                            <option value="internal">Internal</option>
                        </select></td>
                    <td><span id="t_object_stats_visibility" class="mp-ui-state-default ui-corner-all ui-icon ui-icon-help"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mp_button">
    <a href="#">Add New</a>
</div>
<br class="clear" />